
{% extends 'base.html' %}

  {% block content %}
  
  {% load static %}
  <!-- banner -->
  <section>
    <div id="carouselExampleSlidesOnly" class="carousel slide h-10" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
          {% for imgaes in images %}
          <div class="carousel-item active">
            <img  src="{{imgaes.image.url}}" class="w-100  d-block " alt="...">
          </div>
          {% endfor %}
          
        </div>
      </div>
  </section>


    <!-- Tracking -->
  <section class=" my-5">

    <h2 class="mx-auto px-5">Track & Retrieve your Passport</h2>
    <hr class="container-fluid">


    <div class="container ">

      <h2 class="fs-5 text-danger">Visa Track </h2>
                <hr class="w-50">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="track col-md-6 my-5 ">
                
        
                <div class="box mx-auto col-md-6">
                    <p class="fs-5 fw-bold">Enter Reference for track your Application</p>
        
                

                    {% block track %}
                    {% include 'track_visa.html' %}
                    {% endblock track %}


                   
                </div>
            </div>
            <div style="max-height: 500px;" class=" card p-0 col-md-6 h-25 rounded-3 overflow-hidden">
                <img src="{{images.0.image.url}}" class=" img-fluid h-25 d-block " alt="...">
            </div>
        </div>
       
        
    </div>

    
  </section>




  {% endblock content %}